[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mypy = "*"
pycodestyle = "*"
pylint = "*"
selenium = "*"
numpy = "*"
pandas = "*"
psycopg2 = "*"
beautifulsoup4 = "*"
python-decouple = "*"
requests = "*"
flask = "*"
html2text = "*"

[requires]
python_version = "3.7"
