files:
  "/opt/elasticbeanstalk/bin/setup_firefox.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      sudo yum --enablerepo=epll install firefox-compat
      wget -O firefox-latest.tar.bz2 "https://download.mozilla.org/?product=firefox-latest&os=linux64&lang=en-US"
      bzcat firefox-latest.tar.bz2 | tar xvf -

commands:
  set_firefox:
    test: test ! -f /opt/elasticbeanstalk/.post-provisioning-complete
    command: /opt/elasticbeanstalk/bin/setup_firefox.sh